body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #adc0dd;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  .display {
    background-color: #b97ab8;
    color: rgb(251, 250, 251);
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    min-width: 200px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 1.5rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #e5cece;
    color: rgb(28, 26, 26);
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: white;
  }
  
  .zero {
    grid-column: span 2;
  }
  
  .dark-mode-btn {
    grid-column: span 5;
 }
  body.dark-mode {
    background-color: #121212;
    color: rgb(137, 127, 127);
}

.calculator.dark-mode {
    background-color: #403737;
}

.calculator.dark-mode button {
    background-color: #555;
    color: white;
}
button:hover {
    background-color: #ee97de;
    color: white;
    transition: 0.3s;
    transform: scale(1.05);
}
  